################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sale/.vs/Sale
/Sale/Sale.Api/obj
/Sale/Sale.DataAccess/obj
/Sale/Sale.Database/bin/Debug/net8.0
/Sale/Sale.Database/obj
/Sale/Sale.Model/obj
/Sale/Sale.Security/obj
/Sale/Sale.ServiceLayer/obj
/Sale/Sale.ServiceLayer/bin/Debug/net8.0
/Sale/Sale.Security/bin/Debug/net8.0
/Sale/Sale.Model/bin/Debug/net8.0
/Sale/Sale.DataAccess/bin/Debug/net8.0
/Sale/Sale.Api/bin/Debug/net8.0
