################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Sale/.vs/Sale
/Sale/Sale.Api/obj
/Sale/Sale.Api/bin

/Sale/Sale.DataAccess/obj
/Sale/Sale.DataAccess/bin

/Sale/Sale.Database/obj
/Sale/Sale.Database/bin

/Sale/Sale.Model/obj
/Sale/Sale.Model/bin

/Sale/Sale.Security/obj
/Sale/Sale.Security/bin

/Sale/Sale.ServiceLayer/obj
/Sale/Sale.ServiceLayer/bin
